@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.fc {
		@apply flex justify-center items-center flex-col;
	}
	.fr {
		@apply flex justify-center items-center flex-row;
	}
	figcaption {
		@apply text-center text-sm text-gray-300;
	}
	a {
		@apply text-blue-500 underline underline-offset-4;
	}
}

.pattern {
	background-color: transparent;
	opacity: 0.2;
	background-image: url('/images/pattern.jpg');

	/* background: radial-gradient(circle, transparent 20%, #3c54b2 20%, #3c54b2 80%, transparent 80%, transparent),
		radial-gradient(circle, transparent 20%, #3c54b2 20%, #3c54b2 80%, transparent 80%, transparent) 25px 25px,
		linear-gradient(#ffffff 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #ffffff 2px, #3c54b2 2px) -1px 0;
	background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px; */
}
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	--tw-bg-opacity: 1;
	background-color: rgb(9 8 15 / var(--tw-bg-opacity));
}
::-webkit-scrollbar-thumb {
	border-radius: 9999px;
	background-color: #d1d5db33;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.mapbox-logo,
.mapboxgl-ctrl-logo,
a.mapbox-improve-map,
[aria-label='Mapbox'],
[aria-label='OpenStreetMap'] {
	display: none !important;
}
